.section {
  display: flex;
  align-items: center;
  padding-bottom: 10rpx;
  border-radius: 5rpx;
  box-shadow: 2rpx 2rpx 2rpx 2rpx rgba(136, 136, 136, 0.3);
  margin: 0 10rpx;
  padding-left: 20rpx;
  background: #fff;
}

.section .title {
  font-size: 27rpx;
  font-weight: 700;
  margin-top: 25rpx;
}

.section .icon {
  width: 40rpx;
  height: 40rpx;
  padding: 15rpx;
  border-radius: 50%;
  background: #57bae8;
}

.section .icon image {
  width: 40rpx;
  height: 40rpx;
}

.section .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100rpx;
  margin-left: 30rpx;
  margin-bottom: 25rpx;
}

.others {
  display: flex;
  align-items: center;
  font-size: 21rpx;
  line-height: 25rpx;
  color: #666;
}

.others .desc {
  margin-right: 20rpx;
}
