@import '~taro-ui/dist/style/components/flex.scss';

.section {
  height: 110rpx;
  border-radius: 5rpx;
  box-shadow: 2rpx 2rpx 2rpx 2rpx rgba(136, 136, 136, 0.3);
  background: #fff;
}

.icon {
  width: 40rpx;
  height: 40rpx;
  margin-left: 25rpx;
  padding: 15rpx;
  border-radius: 50%;
  background: #57bae8;
}

.icon image {
  width: 40rpx;
  height: 40rpx;
}

.info {
  display: flex;
  height: 80rpx;
  margin-bottom: 20rpx;
  margin-left: 30rpx;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 27rpx;
  font-weight: 700;
  margin-top: 25rpx;
}

.desc {
  margin-right: 25rpx;
  font-size: 21rpx;
  color: #666;
}
