@import '~taro-ui/dist/style/components/flex.scss';

.item {
  padding: 0 30rpx;
  margin: 0rpx 10rpx 20rpx;
  border-radius: 5rpx;
  box-shadow: 2rpx 2rpx 2rpx 2rpx rgba(136, 136, 136, 0.3);
  box-sizing: border-box;
}

.header {
  align-items: center;
  height: 65rpx;
}

.header-avatar {
  width: 40rpx;
  height: 40rpx;
  border-radius: 50%;
  margin-right: 10rpx;
}

.author {
  display: flex;
  align-items: center;
  font-size: 22rpx;
  color: #333;
}

.type {
  font-size: 22rpx;
  color: #abb4bf;
}

.title {
  font-size: 28rpx;
}

.footer {
  height: 60rpx;
  font-size: 22rpx;
  color: #abb4bf;
}

.stats-image {
  width: 30rpx;
  height: 30rpx;
  margin-right: 8rpx;
  margin-left: 15rpx;
}
