.wrapper {
  padding: 0 30px;
  margin: 0px 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.3);
  box-sizing: border-box;

  .header {
    align-items: center;
    height: 65px;

    .author {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: #333;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    .section {
      font-size: 22px;
      color: #abb4bf;
    }
  }
}

.title {
  font-size: 28px;
}

.footer {
  height: 60px;
  font-size: 22px;
  color: #abb4bf;

  .icon {
    margin-right: 8px;
    margin-left: 15px;
  }
}
