.item {
  padding: 0 30rpx;
  margin: 0 15rpx;
  margin-bottom: 20rpx;
  border-radius: 5rpx;
  box-shadow: 2rpx 2rpx 2rpx 2rpx rgba(136, 136, 136, 0.3);
  box-sizing: border-box;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80rpx;
  font-size: 22rpx;
  color: #abb4bf;
}

.header image {
  width: 40rpx;
  height: 40rpx;
  border-radius: 50%;
  margin-right: 10rpx;
}

.author {
  display: flex;
  align-items: center;
  color: #333;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .text {
  flex: 1;
}

.content .img {
  width: 130rpx;
  height: 130rpx;
  margin-left: 20rpx;
}

.content .title {
  margin-bottom: 5rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 28rpx;
  overflow: hidden;
}

.footer {
  display: flex;
  align-items: center;
  height: 80rpx;
}

.label {
  display: flex;
  align-items: center;
  font-size: 26rpx;
  color: #abb4bf;
  margin-right: 40rpx;
}

.label image {
  width: 30rpx;
  height: 30rpx;
  margin-right: 8rpx;
}
