@import "~taro-ui/dist/style/components/flex.scss";

.reply {
  margin: 5rpx 7rpx;
  border-radius: 5rpx;
  box-shadow: 2rpx 2rpx 2rpx 2rpx rgba(136, 136, 136, 0.3);
}

.user {
  height: 100rpx;
  margin: 7rpx 25rpx;
  display: flex ;
  align-items: center;
}

.info {
  display: flex;
  margin-left: 15rpx;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 25rpx;
  font-weight: 700;
  margin-bottom: 7rpx;
}

.time {
  font-size: 20rpx;
  color: #666;
}

.floor {
  margin: 10rpx;
  font-size: 25rpx;
  color: #abb4bf;
}

.content {
  margin: 15rpx 15rpx 25rpx 75rpx;
  font-size: 25rpx;
}
