.header {
  margin: 15rpx 25rpx;
}

.title {
  font-size: 35rpx;
  font-weight: 700;
}

.author {
  display: flex;
  margin: 15rpx;
  align-items: center;
  border-radius: 5rpx;
  box-shadow: 2rpx 2rpx 2rpx 2rpx rgba(136, 136, 136, 0.3);
  background: white;
}

.author .avatar {
  margin-left: 25rpx;
}

.author .name {
  font-size: 27rpx;
  font-weight: 700;
  margin-bottom: 7rpx;
}

.author .info {
  display: flex;
  margin: 35rpx 0rpx 35rpx 20rpx;
  flex-direction: column;
  justify-content: space-between;
}

.author .time {
  margin-right: 20rpx;
}

.author .others {
  font-size: 20rpx;
  color: #666;
}

.content {
  margin: 0rpx 22rpx;
  font-size: 25rpx;
}
