.container {
  padding-top: 180px;
  font-size: 28px;
  line-height: 2.2em;

  .header {
    text-align: center;
  }

  .item {
    padding: 10px 30px 20px;

    .logo {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      display: block;
      margin: auto;
    }

    .title {
      font-size: 32px;
      color: #57bae8;
      margin: 26px 0;
    }

    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      z-index: 1;
    }

    .qrcode {
      width: 420px;
      height: 420px;
      display: block;
      margin: auto;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      padding-bottom: 16px;

      .icon {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 2.2em;
      }

      image {
        width: 32px;
        height: 32px;
        margin-right: 20px;
      }
    }
  }

  .footer {
    height: 80px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #333;
  }
}
