.wrapper {
  padding-top: 20px;
}

.profile {
  display: flex;
  height: 180px;
  margin-bottom: 20px;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;

  .avatar {
    margin-right: 40px;
  }

  .info {
    display: flex;
    font-size: 24px;
    color: #abb4bf;

    .text {
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .name {
    margin-bottom: 8px;
    font-size: 40px;
    color: #333;
  }
}

.forum-area {
  margin-bottom: 20px;
}
