.wrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backgroundImage {
  width: 100%
}

.login {
  width: 80%;
  margin-top: 25rpx
}

.footer {
  display: flex;
  margin-top: 350rpx;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 24rpx;
}

.list-item {
  position: relative;
  display: flex;
  // justify-content: space-between;
  padding: 24rpx 0;
  margin-left: 32rpx;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0.5);
    transform-origin: center;
    box-sizing: border-box;
    pointer-events: none;
  }

  &::before {
    top: 0;
    bottom: auto;
  }

  &__label,
  &__value {
    color: #333;
    font-size: 32px;
    line-height: 1.5;
  }

  &__label {
    margin-right: 16rpx;
    width: 172rpx;
  }
}
