/* Custom Theme */
$color-brand: #57bae8;
$color-brand-light: #81cbee;
$color-brand-dark: #4695ba;

/* Default Theme*/
@import '~taro-ui/dist/style/index.scss';

::-webkit-scrollbar {
  display: none;
}

page {
  -webkit-font-smoothing: antialiased;
  font-family: 'PingHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana',
    'sans-serif';
}
